body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login , #forgot  {
  background-color: rgb(249, 250, 251);
  min-height: 100vh;
  position: relative;
}
#create {
  background-color: rgb(249, 250, 251) ;
  min-height: 160vh;
  position: relative;

}

.container-login, .container-create, .container-forgot {
  background-color: white;
  position: absolute;
  left : 50% ;
  top : 50% ;
  transform: translate(-50%,-50%);
  height: 90%;
  width: 70%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  display: flex;
}

.container-forgot {
  height: 50%;
}

.container-login > img, .container-create > img  {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.login-info , .create-info, .forgot-info {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap : 20px ;
  width: 50%;
  
}
.forgot-info {
  justify-content: center;
}
.login-info form , .create-info form, .forgot-info form {
  display: flex;
  flex-direction: column;
  gap : 20px ;
  
}
#in {
   margin-top: 10px;
   font-size: .875rem;
   background-color: transparent;
   padding: 10px;
   width: 100%;
   border-radius: 5px;
   border : none ;
   outline : none ;
   border : 1px solid rgb(226, 232, 240);
}

#in:focus , #nav-input:focus {
  box-shadow: 0 0 0 3px rgba(202,191,253,.45);
}

.submitButton {
   padding: 8px;
   font-size: 1.2rem;
   color : white ;
   background-color: rgb(126, 58, 242) ;
   border-radius: 8px;
   outline: none;
   border: none;
   cursor: pointer;
}
.submitButton:hover {
    background-color: rgb(108,43,217) ;
}

.social img {
  height: 18px;
  width: 18px;
}

.social {
  display: flex;
  gap : 15px ;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(168, 169, 171) ;
  padding: 8px;
  font-size: .875rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent ;
}
.social:hover {
  border: 1px solid rgba(0, 0, 0, 0.481);
}

.login-info > p, .create-info > p {
   color : indigo ;
   cursor: pointer;
   
}
#link {
  text-decoration: none;
}

#link:hover {
  text-decoration: underline ;
}


#notfound {
  background-color: gainsboro;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 20px ;
}
@keyframes changebg {
  0% {
    background-image: url("assets/1.jpg");
  }
  100% {
    background-image: url("assets/2.jpg");
  }
}
#home , #about, #dashboard, #requests {
  min-height: 100vh;
  width: 100%;
  display : flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap : 50px ;
  color : white ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: overlay;
  animation: changebg 7s infinite  linear;
  padding-top: 100px;
  padding-bottom: 30px;
  overflow: auto;
}

#requests {
  gap : 20px ;
}

.sidebar {
  
  width: 20vw ;
  background-color: white;
  height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 40px ;
}

.logo {
  width: 100px;
  height: 100px;
}

.sidebar > ul {
  align-self: flex-start;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap : 20px ;
}
.sidebar > ul > li {
  padding-left: 20px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

  .navigation.active::after  {
  content: "";
  position: absolute;
  left: 0;
  top: 50% ;
  transform: translateY(-50%);
  height: 150%;
  width: .25rem ;
  background-color: rgb(126, 58, 242);
  border-radius: 8px;

}

.navigation {
  text-decoration: none;
  color : rgb(112, 114, 117) ;
  display: flex;
  gap : 15px ;
  align-items: center;
  cursor: pointer;
}

.navigation:hover {
  color : black ;
}

.navigation.active {
  color: black;
}
.icon {
  width: 25px;
  height: 25px;
}

.layout {
  display: flex;
}

.navbar {
  background-color: white;
  width: 83.5vw ;
  position: absolute;
  height: 70px;
  right: 0 ;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-container {
  position: relative;
  height: 50%;
  width: 50%;
}

#nav-input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border : none ;
  outline : none ;
  border : 1px solid rgb(226, 232, 240);
  padding-left: 40px;
  font-size: .875rem;
}

.searchIcon {
  width: 15px;
  height: 15px;
  position: absolute;
  top : 50% ;
  left : 10px ;
  transform: translateY(-50%);
}

.accordion-item {
  
  color : black ;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  padding: 10px;
  cursor: pointer;
  
}
.accordion-content {
  background-color: gainsboro;
  padding: 10px;
  
}
.accordion {
  width: 60%;
  border-radius: 10px;  
  overflow : hidden ;
}

.stat-box {
  border: rgb(213, 214, 215);
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  color : gray ;
  display: flex;
  gap : 15px ;
  align-items: center;
}

.stat-box > div {
  display: flex;
  flex-direction: column;
  gap : 15px ;
  align-items: center;
  justify-content: center;
}

.stat-box > div h1 {
  color : black; 
}

.stat-container {
  display: flex;
  gap : 30px ;
}

.payment , .dates {
  background-color: white;
  color : black ;
  padding: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap : 15px;
}
.service-container {
  display: flex;
  justify-content: center;
  gap : 50px ;
  width: 100%;
}

#plainte  {
  font-size: 1rem; 
  padding: 10px;
}
#objet {
 width: 49%;
 font-size: 1rem; 
 padding: 10px;
}
#plainte:focus , #objet:focus {
  border: none;
  outline : none ;
  box-shadow: 0 0 0 3px rgba(202,191,253,.45);
}

.plaintes {
  align-self: flex-start;
  margin-left: 30px;
  width: 70%;
  overflow-x: hidden;
}

.old-request {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
  padding-right: 20px;
}
.request-title {
  color : brown ;
}

.pagination {
  display: flex;
  list-style: none;
  
  background-color: white;
  color : black ;
  
}

.pagination > * {
  border-right : 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.list-group {
  display: flex;
  flex-direction: column;
  background-color: white;
  color : black ;
  font-size: 1.2rem;
  border-collapse: collapse;
  display: table;
  border-radius: 7px;
  overflow: hidden;
}
.list-group thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  width: 100%;
}
.list-group th,
.list-group td {
  padding: 12px 15px;
}
.list-group tbody tr {
  border-bottom: 1px solid #dddddd;
}
.list-group tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.list-group tbody tr:last-of-type {
  border-bottom: none;
}
.userIcon {
  width: 40px;
  height: 40px;
  justify-self: flex-end;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown {
  position: absolute;
  top : 100% ;
  display: flex;
  flex-direction: column;
  background-color: gainsboro;
  width: 150px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.dropdown > *{
  cursor: pointer;
}
.dropdown > *:hover {
 text-decoration: underline;
}